@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #000;
    /* width */
    --width-100: 400px;
    --width-104: 416px;
    --width-116: 464px;
    --width-128: 512px;
}